@font-face {
  font-family: 'PFStardust';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.picDescription {
  width: inherit;
  height: inherit;
  border-radius: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  text-align: center;

  p {
    color: white;
    font-size: 18px;
    text-align: center;
    &:nth-child(3) {
      margin-top: 20px;
      font-family: 'PFStardust';
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
    }
  }
}
