.resultPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-right: 180px;
}

.resultContents {
  margin-bottom: 50px;
}

.resultContentsText {
  font-size: 24px;
  font-weight: bold;
}

.imageWrapper {
  width: 700px;
  height: 450px;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  margin-bottom: 50px;
}
.resultPageContainer {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: 100vh;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.resultBtnContainer {
  display: flex;
  flex-direction: row;

  width: 100%;

  justify-content: space-around;
}
