.resultPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-right: 180px;
}

.resultPageContainer {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: 100vh;

  justify-content: center;
  align-items: center;
  text-align: center;

  .resultContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .resultContentsText {
    width: 700px;
    font-size: 20px;
    font-weight: bold;
  }

  .imageWrapper {
    width: 512px;
    height: 450px;
    img {
      width: 100%;
      height: 100%;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    margin-bottom: 50px;
  }
}

.resultBtnContainer {
  display: flex;
  flex-direction: row;

  width: 700px;

  justify-content: space-around;
}
