.container {
  position: absolute;
  top: 10%;
  left: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .form {
    margin-top: 50px;
    & div {
      margin-bottom: 25px;
    }
    & Button {
      margin-top: 25px;
    }
  }
}
