.nav {
  width: 350px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

nav {
  width: 30%;
  height: 75%;
  padding: 14% 0;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  width: 70px;
  height: 70px;
  padding: 10px;

  transition: all 0.5s;
  cursor: pointer;
  border-radius: 1rem;
  &:hover, 
  &.active {
    background: rgba(114, 97, 134, 0.25);
  }
}

.top {
  margin-bottom: 40px;
}
