.gallerySaveBtn {
  cursor: pointer;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 220px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  color: white;

  border-radius: 10px;
  background-color: #e5bdc6;

  transition: all 0.2s;
  &:hover {
    background-color: #e69dad;
    box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.2);
  }
}

.gallerySaveBtn svg {
  stroke: white;
  text-align: center;
}
